
{{ define "main" }}

    <div class="card-body border w-50 m-auto">
        
        <nav class="font-weight-light border">
            {{with .NextInSection}}
                <a href="{{ .RelPermalink }}">Précédent</a>
            {{end}} 
        </nav>
    
    
        <h2 class="card-title text-center border-primary">{{ .Title }}</h2>
    
    <div class="card-img">       
            {{ range .Resources.ByType "image" }}
            <img src="{{ .RelPermalink }}"  class="rounded" height="100px" alt="{{ .Title }}" />
            {{ end }}
    </div>
    
    <div class="card-text border">
        {{ .Content }}
    </div>
        

    <nav class="font-weight-light align-right">
        {{with .PrevInSection}}
        <a href="{{ .RelPermalink }}">Suivant</a>
        {{end}}
    </nav>
    </div>        
       
    <!--{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}-->
<!--
    <p>template Single.html</p>
    <p>Type : {{ .Page.Type }}</p>
    <p>Kind : {{.Page.Kind}}</p>
    <p>file : {{.Page.File}}</p>
    <p>BundleType : {{.Page.BundleType}}</p>
    <p>resource : {{.Page.Resources}}</p>
-->
{{ end }}
